<mat-card>
  <form [formGroup]="postForm" (submit)="savePost()">
    <mat-form-field>
      <input matInput type="text" placeholder="Title" formControlName="title">
      @if (postForm.controls['title'].invalid){
        <mat-error>
          Post title is mandatory
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
    <textarea matInput rows="6" placeholder="Content" formControlName="content">
    </textarea>
      @if (postForm.controls['content'].invalid){
        <mat-error>
          Post content is mandatory
        </mat-error>
      }
    </mat-form-field>
    <button color="primary" mat-raised-button type="submit">Save Post</button>
  </form>
</mat-card>
<hr>
