@if (posts() && posts().length > 0) {
  @for (post of posts(); track post.title){
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{ post.title }}
        </mat-expansion-panel-header>
        <p>
          {{post.content}}
        </p>
        <mat-action-row>
          <button color="accent" mat-button>
            Edit
          </button>
          <button color="warn" mat-button (click)="deletePost(post)">
            Delete
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  }
} @else {
  <p class="mat-body-1">
    No post added yet.
  </p>
}

