@if (posts() && posts().length > 0 && !this.loading) {
  @for (post of posts(); track post.title){
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{ post.title }}
        </mat-expansion-panel-header>
        <div class="post-image image-preview">
          <img [src]="getImage(post.id!)" [alt]="post.title">
        </div>
        <p>
          {{post.content}}
        </p>
        <mat-action-row>
          <button color="accent" mat-button [routerLink]="'edit/'+ post.id">
            Edit
          </button>
          <button color="warn" mat-button (click)="deletePost(post)">
            Delete
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  }
} @else if(this.loading) {
  <div class="spinner-container">
    <mat-spinner>
    </mat-spinner>
  </div>
} @else if(posts() && posts().length === 0) {
  <p class="mat-body-1">
    No post added yet.
  </p>
}
<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[2, 4, 6, 10]"
               (page)="onPageChange($event)"
               aria-label="Select page">
</mat-paginator>
